<div class="splash-pg-bg">
  <%= render partial: "nav/navbar",
      locals: { action: new_user_url, content: "New Users" } %>
  <%= render partial: "shared/errors" %>

      <div class="login-wrapper">
        <form action="<%= session_url %>" method="post" class="login-form">
          <h2 class="login-form-heading">Sign In</h2>
          <%=auth_token%>

          <label for="user_email">Email</label>
          <br>
          <input type="text"
                 class="form-control"
                 id="user_email"
                 name="user[email]"
                 placeholder="example@gmail.com"
                 autofocus=""
                 value="<%= @user.email if @user%>">

          <br>

          <label for="user_password">Password</label>
          <br>
          <input type="password"
                 class="form-control"
                 id="user_password"
                 name="user[password]"
                 placeholder="Password123"
                 autofocus=""
                 value="<%= @user.password if @user%>">

          <br>
          <input class="btn btn-lg btn-primary btn-block login-btn"
                 type="submit"
                 value="Sign In">
          <input class="btn btn-lg btn-secondary btn-block guest-btn"
                 type="button"
                 onclick="location.href='/session/new?demo=true';"
                 value="Guest Login">

        </form>
      </div>
</div>

<% if params[:demo] %>
  <script>
    $(document).ready(function() {
      Guest.initialize();
    });
  </script>
<% end %>
