<h2><%= content %></h2>

<form action="<%= action %>" method="post">
<%=auth_token%>

<label for="user_email">Email</label>
<br>
<input type="text"
       id="user_email"
       name="user[email]"
       value="<%= @user.email if @user%>">

<br>

<label for="user_password">Password</label>
<br>
<input type="password"
       id="user_password"
       name="user[password]"
       value="<%= @user.password if @user%>">

<input type="submit" value="<%= content %>">
</form>
