<div class="login-wrapper">
  <form action="<%= action %>" method="post" class="login-form">
    <h2 class="login-form-heading"><%= content %></h2>
    <%=auth_token%>

    <label for="user_email">Email</label>
    <br>
    <input type="text"
           class="form-control"
           id="user_email"
           name="user[email]"
           placeholder="Email Address"
           autofocus=""
           value="<%= @user.email if @user%>">

    <br>

    <label for="user_password">Password</label>
    <br>
    <input type="password"
           class="form-control"
           id="user_password"
           name="user[password]"
           placeholder="Password"
           autofocus=""
           value="<%= @user.password if @user%>">

    <br>
    <input class="btn btn-lg btn-primary btn-block"
           type="submit"
           value="<%= content %>">
  </form>
</div>
