<nav class="navbar navbar-default navbar-html">
  <div class="container-fluid">

    <div class="navbar-header">

      <a class="navbar-brand" href="#">
        <img src="http://res.cloudinary.com/dydhzgrty/image/upload/v1440465586/shuttr_logo_cropped2_v1ezoh.png" />
      </a>

      <button type="button" class="navbar-toggle collapsed"
              data-toggle="collapse"
              data-target="#collapse-menu"
              aria-expanded="false">
      </button>
    </div>

    <div class="collapse navbar-collapse" id="collapse-menu">
      <ul class="nav navbar-nav pull-right">

        <li class="<%= action %>-li">
          <a class="dropdown-toggle sign-in-link" href="<%= action %>"><%= content %></a>
        </li>
            <!-- <a class="dropdown-toggle existing-users-btn" href="#" data-toggle="dropdown">Existing Users<strong class="caret"></strong></a> -->
            <!-- <div class="dropdown-menu dropdown-menu-right" style="padding: 0px; padding-bottom: 0px; border-bottom-right-radius: 10px;
          	border-bottom-left-radius: 10px;">

              <form action="<%= session_url %>" method="post" class="login-form nav-login-form">
                <%=auth_token%>
                <input type="text"
                       id="user_email"
                       name="user[email]"
                       placeholder="Email Address"
                       autofocus=""><br>
                <input type="password"
                       id="user_password"
                       name="user[password]"
                       placeholder="Password"
                       autofocus=""><br>
               <input class="btn btn-lg btn-primary btn-block user-login"
                      type="submit"
                      value="Log In">
              </form>

            </div> -->
          </li>
      </ul>

      <ul class="nav navbar-nav navbar-left">
        <li><a href="#">Explore</a></li>
        <li><a href="#feed">Feed</a></li>
        <li>
          <a class="create-photo-btn"
               href="javascript:void(0)">Create</a>
        </li>
      </ul>
    </div>

  </div>
</nav>
