<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">

      <a class="navbar-brand" href="#">Shuttr</a>

<!-- TODO: Maybe integrate this into bootstrap/css better   -->

      <div class="errors">
        <%= render partial: "shared/errors" %>
      </div>

      <button type="button" class="navbar-toggle collapsed"
              data-toggle="collapse"
              data-target="#collapse-menu"
              aria-expanded="false">
      </button>
    </div>

    <div class="collapse navbar-collapse" id="collapse-menu">
      <ul class="nav navbar-nav pull-right">
        <% if logged_in? %>
            <li>
              <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                <%= current_user.email %><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to "My Albums", "#albums" %></li>
                <li><%= link_to "My Photos", "#photos" %></li>
                <li><%= link_to "Sign Out", session_url, method: :delete %></li>
              </ul>
            </li>


        <% else %>
          <li><%= link_to "Sign Up", new_user_url %></li>
          <li><%= link_to "Sign In", new_session_url %></li>
        <% end %>
      </ul>

      <ul class="nav navbar-nav navbar-left">
        <li><a href="#">Explore</a></li>
        <li><a href="#">Map</a></li>
        <li><a href="#photos/new">Create</a></li>
      </ul>
    </div>

  </div>
</nav>
